<div class="row title_content bg-white">
  <div class="col ms-5 mt-4">
    <h1>CounterMeasures Home Page</h1>
    <p>Select a node in the hierarchy to begin.
      <button type="button" class="btn btn-outline-secondary border-0"
              placement="top"
              ngbPopover="Data on this screen is relative to the node selected."
              popoverTitle="More Information"
      >

        <fa-icon [icon]="faCircleInfo" size="2x"></fa-icon>
      </button></p>
  </div>
</div>
<app-scope-panel></app-scope-panel>
<app-item-panel></app-item-panel>

