<div class="row title_content bg-white">
  <div class="col ms-5 mt-4">
    <h1>CounterMeasures Home Page</h1>
    <p>Select a program in the hierarchy to begin.
      <button type="button" class="btn btn-outline-secondary border-0"
              data-bs-trigger="focus" data-bs-container="body" data-bs-toggle="popover"
              data-bs-placement="right" data-bs- title="More Information"
              data-bs-content="To begin, you must first select a node from the Select Node section below.">

        <fa-icon [icon]="faCircleInfo" size="2x"></fa-icon>
      </button></p>
  </div>
</div>
<app-scope-panel></app-scope-panel>

