
<div id="sidebar-wrapper" [ngClass]="{ 'sidebar-sms' : mainClass, 'wrapperTransition' : toggleTransitionClass, 'normalize-menu' : toggleNormalize}">
  <div id="sidebar-header">
    <div id="logo-wrapper"><img id="logo" class="" alt="SMS (CM) logo" src="assets/img/CM-Logo.svg">
    </div>
    <button (click)="triggerMenuResize()" id="slim-menu-button" role="button" class="btn text-white">
      <fa-icon [icon]="faBars"></fa-icon>
      <fa-icon [icon]="faAngleLeft" size="lg"></fa-icon>
      <fa-icon [icon]="faAngleRight" size="lg"></fa-icon>
    </button >

  </div>
  <app-menu></app-menu>
  <app-top-bar id="top-bar-wrapper"></app-top-bar>
</div><!--sidebar-wrapper-->
