<!--<nav class="navbar navbar-dark navbar-expand bg-red pt-0 pb-0 ps-4 border border-5 border-dark border-start-0 border-end-0 border-bottom-0 mb-1">
  <div class="container-fluid">
    <a href="#" class="navbar-brand" id="CM4Logo">
      <img src="../../assets/img/CounterMeasures-white-logo.svg" alt="CounterMeasures Risk Analysis Software logo" height="50px">
    </a>
    <ul class="container-fluid align-items-center" style="list-style-type: none;">
    </ul>
    <div class="d-flex align-items-center">
      <a href="#" class="text-white btn" id="settingsButton" title="click to change settings"><i class="fa fa-cog fa-2x" ></i></a>
      <span class="btn m-0 p-0 text-white" title="click to sing off" ><i class="fa fa-sign-out fa-2x"></i></span>
    </div>
  </div>
</nav>-->
<div id="sidebar-wrapper" [ngClass]="{ 'sidebar-sms' : mainClass, 'wrapperTransition' : toggleTransitionClass, 'normalize-menu' : toggleNormalize}">
  <div id="sidebar-header">
    <div id="logo-wrapper"><img id="logo" class="" alt="SMS (CM) logo" src="../../assets/img/CM-Logo.svg">
    </div>
    <button (click)="triggerMenuResize()" id="slim-menu-button" role="button" class="btn text-white">
      <fa-icon [icon]="faBars"></fa-icon>
      <fa-icon [icon]="faAngleLeft" size="lg"></fa-icon>
      <fa-icon [icon]="faAngleRight" size="lg"></fa-icon>
    </button >

  </div>
  <app-menu></app-menu>
  <app-top-bar id="top-bar-wrapper"></app-top-bar>
</div><!--sidebar-wrapper-->
