<div id="top-bar" class="d-flex justify-content-between align-items-center">
  <div class="ps-3">
    <div class="input-group">
      <select class="form-select" aria-label="Default select example">
        <option selected>Assessments</option>
        <option value="1">Hiearchy</option>
        <option value="2">Manage Users</option>
        <option value="3">Three</option>
      </select>
      <button class="btn btn-blue-fill" type="button" id="button-addon2">Go</button>
    </div>

  </div>
  <div class="profile-area px-3 h-100 d-flex align-items-center">
    <div class="profile-name">
      <span>Walter White</span> Admin

    </div>
  </div>

</div>
