<div id="dropdownMenu" class="sidebar-nav d-flex flex-column px-0 pt-2 text-white min-vh-100">

  <ul class="nav sidebar-nav-container flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">
    <li class="nav-item sidebar-menuitem">
      <a routerLink="/home" routerLinkActive="active" class="menuLink nav-link align-middle px-0">
        <fa-icon [icon]="faHouse"></fa-icon> <span class="menu-text ms-1 ">Home</span>
      </a>
    </li>
    <li class="sidebar-menuitem">
      <a href="#" class="menuLink nav-link px-0 align-middle">
        <fa-icon [icon]="faFolderTree"></fa-icon> <span class="menu-text ms-1 ">Manage Hierarchy</span></a>
    </li>
    <li class="sidebar-menuitem">
      <a href="#" class="menuLink nav-link px-0 align-middle">
        <fa-icon [icon]="faUsers"></fa-icon> <span class="menu-text ms-1 ">Manage Users</span> </a>
    </li>
    <li class="sidebar-menuitem">
      <a routerLink="/collect-data" routerLinkActive="active" class="menuLink nav-link px-0 align-middle">
        <fa-icon [icon]="faPlus"></fa-icon> <span class="menu-text ms-1 ">Collect Data</span> </a>
    </li>
    <li role="menuitem" class="sidebar-menuitem">
      <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle menuLink">
        <fa-icon [icon]="faChartArea"></fa-icon>
        <span class="menu-text-group">
        <span class="ms-3 d-sm-inline">Analyze</span><fa-icon [icon]="faChevronDown"></fa-icon>
      </span>
      </a>
      <ul role="menu" class="collapse show flex-column ms-1 sidebar-submenu-container list-unstyled ps-1"
          id="submenu2" data-bs-parent="#menu">
        <li role="menuitem" class="sidebar-submenuitem">
          <a href="#" class="nav-link px-0 menuLink">
            <fa-icon [icon]="faChartPie"></fa-icon> <span class="d-sm-inline menu-text">Utilization </span>
          </a>
        </li>
        <li role="menuitem" class="sidebar-submenuitem">
          <a href="#" class="nav-link px-0  menuLink">
            <fa-icon [icon]="faChartLine"></fa-icon> <span class="d-sm-inline menu-text">Surveys </span>
          </a>
        </li>
      </ul>
    </li>

  </ul>

</div><!--dropdownMenu-->

