<div class="card">
  <div class="card-header {{headerClass}}">
    <a data-bs-toggle="collapse" href="#{{cardID}}" role="button"
       aria-expanded="false" aria-controls="" class="d-flex justify-content-between">
      <span>
        <fa-icon [icon]="faTable" class="me-2"></fa-icon>
        {{headerText}}
      </span>
      <fa-icon [icon]="faChevronDown"></fa-icon>
    </a>
  </div>

  <div id="{{cardID}}" class="collapse show">
    <div id="{{reportMsgID}}" class="visible">
      <h3 class="mt-2 ms-2">No node selected. Select a node to continue.</h3>
    </div>

    <div id="{{reportDataID}}" class="">
      <div class="card-header {{accentBgClass}}">
        <div class="row">
          <div class="col">
            <ul id="{{tableTabUL}}" class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item" *ngFor="let navItem of dynamicContent">
                <button id="{{navItem.cardID}}-tab" class="nav-link {{navItem.firstLinkOnly}}" data-bs-toggle="tab"
                        [attr.data-bs-target]="'#' + navItem.cardID" type="button" role="tab"
                        [attr.aria-controls]="navItem.cardID" aria-selected="true">
                  <span class="me-2 {{navItem.iconColorClass}}">
                    <fa-icon [icon]="faTasks"></fa-icon>
                  </span>{{navItem.tabText}}</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> <!--reportDataID -->

    <div class="card-body tab-content" id="myTabContent" >
      <div *ngFor="let cardItem of dynamicContent" class="tab-pane fade {{cardItem.firstCardOnly}}" id="{{cardItem.cardID}}" role="tabpanel" [attr.aria-labelledby] ="cardItem.cardID + '-tab'">
        <div class="row d-flex">
          <div class="col-auto">
            <h3 class="my-2">
              <span class="{{cardItem.iconColorClass}} me-2">
                <fa-icon [icon]="faTasks"></fa-icon>
              </span>{{cardItem.cardTitle}}
            </h3>
            <p class="mb-4">{{cardItem.cardText}}</p>
          </div>
          <div class="col-auto ms-auto mb-2">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Show Inactive</label>
            </div>
          </div>
        </div>



      </div> <!-- assessments -->
    </div>
  </div> <!-- collapse-->
</div><!-- card -->
