<ng-container>
  <div class="modal fade" id="tableModal" tabindex="-1" aria-labelledby="tableModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tableModalLabel">Table Row Data</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            <ng-container *ngFor="let title of tableColumns; let i = index">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{title.name}} </div>
                  <ng-container *ngIf="title.dataKey != 'name'; else mLink">
                    <span id="{{title.name}}{{i}}"></span>
                  </ng-container>
                  <ng-template #mLink>
                    <button class="btn btn-link"><span id="{{title.name}}{{i}}"></span></button>
                  </ng-template>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
</ng-container>
