<div class="row g-0 title_content bg-white">
  <div class="col ms-5 mt-4">
    <h1> Enter Data</h1>
    <p>Select a node in the hierarchy to begin entering data.
      <button type="button" class="btn btn-outline-secondary" data-bs-container="body"
              data-bs-toggle="popover" data-bs-placement="right" data-bs- title="More Information"
              data-bs-content="To begin, you must first select a node from the Select Node section below.">
        <fa-icon [icon]="faInfoCircle"></fa-icon>
      </button>
    </p>
  </div>
</div>
<div class="row g-0">
  <div class="col">

  </div>
</div>
