<app-button-grouping
  [buttonList]="crudButtons"
  (btn_Action)="crudButtonsAction($event)"
>

</app-button-grouping>

<app-custom-table [tableData]="assessmentData"
                  [tableColumns]="assessmentTableColumns"
                  [isFilterable]="true"
                  [isPageable]="true"
                  [paginationSizes]="[5,10,15]"
                  [defaultPageSize]="5"
                  [rowActionIcon]="'info'"
                  [colorTheme]="'lt-purple'"
                  (sort)="sortData($event)"
                  (rowAction)="openModal($event)">
</app-custom-table>

<app-table-modal
  [tableColumns]="assessmentTableColumns"
  [selectedAssessment]="cAssessment"
>

</app-table-modal>
